// custom variable
$primary: rgba(247, 237, 201, 0.524);
$warning:rgb(243, 243, 120);
$success:rgb(13, 67, 13);
$secondary: rgba(223, 223, 223, 0.607);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';