.navbar {
    padding: 0;
}

.premier-element img {
    height: 25rem;
    object-fit: cover;
}

.premier-element {
    justify-self: center !important;
}

.premier-element a {
    text-decoration: none;
}

.email {
    width: 50%;
}

.nom {
    width: 49%;
}

.textarea {
    height: 15rem;
}

.list-unstyled a {
    text-decoration: none;
    color: black;
}

button a {
    text-decoration: none;
    color: white;
}

.petitCaroussel {
    background: rgba(79, 133, 106, 0.301);
}


footer {
    padding-top: 2rem;
    box-shadow: 5px 5px 30px 0.5px rgb(206, 206, 206);
}

footer button {
    background: green;
}

footer .input {
    width: 40rem;
}

footer a {
    text-decoration: none;
    color: black;
}

footer li {
    list-style: none;
}

footer .agritech {
    width: 3rem;
}



@media (max-width: 425px) {

    .footerSection {
        flex-wrap: wrap;

    }

    .section2 {
        flex-wrap: wrap;
        justify-content: center;
    }

}


@media (max-width: 768px) {

    .footerSection1 {
        flex-wrap: wrap;

    }

    .section2 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .premier-element {
        width: 100% !important;
    }

    .ligne {
        flex-wrap: wrap;
        justify-content: center;
    }

    .col-5 {
        width: 100% !important;
    }

    .w-75 {
        width: 100% !important;
    }

    .bgchange {
        background: white !important;
    }
}


@media (max-width: 1024px) {
    
    .lesimage {
        margin-left: 2rem;
        margin-right: 2rem;
    }

}


@media (min-width: 768px) and (max-width: 1024px) {
    .custom-width {
        width: 100% !important;
    }

}

@media (min-width: 1440px) {
    .custom-width {
        width: 75% !important;
    }

}