.navbar {
    padding: 0;
}

.premier-element img {
    height: 25rem;
    object-fit: cover;
}

.premier-element {
    justify-self: center !important;
}

.premier-element a {
    text-decoration: none;
}

.formation-image img {
    height: 13rem;
    object-fit: cover;
}

.le-cercle {
    top: 30%;
    left: 5%;
    height: 7rem;
    width: 7rem;
}

.vert {
    color: rgb(45, 171, 104);
}

.le-cercle {
    top: 47%;
}

footer {
    padding-top: 2rem;
    box-shadow: 5px 5px 30px 0.5px rgb(206, 206, 206);
}

footer button {
    background: green;
}

footer .input {
    width: 40rem;
}

footer a {
    text-decoration: none;
    color: black;
}

footer li {
    list-style: none;
}

footer .agritech {
    width: 3rem;
}

.list-unstyled a {
    text-decoration: none;
    color: black;
}

button a {
    text-decoration: none;
    color: white;
}

.petitCaroussel {
    background: rgba(79, 133, 106, 0.301);
}

.card-img-top {
    height: 20rem;
    object-fit: cover;
}

@media (max-width: 425px) {

    .footerSection1 {
        flex-wrap: wrap;

    }

    .section2 {
        flex-wrap: wrap;
        justify-content: center;
    }



}

@media (min-width: 768px) and (max-width: 1024px) {
    .custom-width {
        width: 100% !important;
    }

}

@media (min-width: 1440px) {
    .custom-width {
        width: 75% !important;
    }
}